<template>
  <v-container>
    <SearchBar></SearchBar>
    <FilterBy></FilterBy>
    <RecipesList :recipes="recipesList"></RecipesList>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'
import RecipesList from '../components/RecipesList'
import SearchBar from '../components/SearchBar'
import FilterBy from '../components/FilterBy'

export default {
  name: 'LandingPage',
  components: { RecipesList, SearchBar, FilterBy },
  computed: {
    ...mapGetters({
      recipesList: 'recipes/getRecipesList'
    })
  },
  created () {
    this.$store.dispatch('recipes/getAllRecipes')
  }
}
</script>
