<template>
  <v-container>
    <div class="page-title py-3">{{ name }}</div>
    <v-layout>
      <v-flex>
        <v-card>
          <v-card-media height="300px" class="recipe-picture" :src="picture">
            <v-chip small label :color="isVegetarian ? 'green' : 'orange'" text-color="black" class="vegetarian-label">
              <v-icon left>{{ isVegetarian ? 'favorite' : 'pets' }}</v-icon>{{ isVegetarian ? 'Vegetarian' : 'Not vegetarian' }}
            </v-chip>
            <span class="number-of-people mr-1">
              {{ numberOfPeople }} <v-icon medium>person</v-icon>
            </span>
          </v-card-media>
          <v-card-text class="recipe-details">
            <div class="title my-2">Ingredients:</div>
            <div class="mb-3">{{ ingredients }}</div>
            <div class="title my-2">Cooking instructions:</div>
            <div>{{ cookingInstructions }}</div>
            <div class="creation-date">{{ creationDate }}</div>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'RecipePage',
  computed: {
    ...mapGetters({
      name: 'recipe/getName',
      picture: 'recipe/getPicture',
      isVegetarian: 'recipe/getIsVegetarian',
      numberOfPeople: 'recipe/getNumberOfPeople',
      ingredients: 'recipe/getIngredients',
      cookingInstructions: 'recipe/getCookingInstructions'
    }),
    creationDate () {
      const locale = 'en-us'
      let formattedDate = new Date(this.$store.getters['recipe/getCreationDate'] * 1000)
      let month = formattedDate.toLocaleString(locale, { month: 'short' })
      return `${formattedDate.getDate()} ${month}, ${formattedDate.getFullYear()}`
    }
  },
  created () {
    this.$store.dispatch('recipe/getRecipeById', { id: this.$route.params.id })
  }
}
</script>

<style scoped>
  .recipe-picture, .recipe-details {
    position: relative;
  }

  .number-of-people {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 23px;
    font-weight: bold;
  }

  .creation-date {
    position: absolute;
    right: 7px;
    bottom: 2px;
    color: #878787;
    font-size: 16px;
  }

  .vegetarian-label {
    font-size: 16px;
  }

  .page-title {
    text-align: center;
    font-size: 30px;
  }
</style>
