<template>
  <div>
    <v-checkbox
      label="Show only vegetarian"
      v-model="showOnlyVegetarian"
    ></v-checkbox>
    <v-slider
      v-model="minNumberOfPeople"
      label="Number of people"
      max="24"
      :min="0"
      :step="1"
      thumb-label="always"
    ></v-slider>
  </div>
</template>

<script>
export default {
  name: 'FilterBy',
  computed: {
    showOnlyVegetarian: {
      get: function () {
        return false
      },
      set: function (value) {
        this.$store.dispatch('recipes/filterVegetarian', { vegetarian: value })
      }
    },
    minNumberOfPeople: {
      get: function () {
        return 0
      },
      set: function (value) {
        this.$store.dispatch('recipes/filterMinNumberOfPeople', { min: value })
      }
    }
  }
}
</script>
