<template>
  <v-footer app absolute height="52" class="pa-3 my-footer">
    <div>My recipes © {{ new Date().getFullYear() }}</div>
  </v-footer>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<style scoped>
  .my-footer {
    bottom: 0;
    left: 0;
    position: fixed;
  }
</style>
