<template>
  <v-toolbar
  app
  fixed
  height="52"
  flat
  >
    <v-icon>fastfood</v-icon>
    <v-toolbar-title class="toolbar-title" @click="goToHomePage">My recipes</v-toolbar-title>
    <v-icon>fastfood</v-icon>
  </v-toolbar>
</template>

<script>
export default {
  name: 'Header',
  methods: {
    goToHomePage: function () {
      this.$router.push({ name: 'LandingPage' })
    }
  }
}
</script>

<style scoped>
  .toolbar-title {
    margin: 0 auto;
    font-size: 22px;
    cursor: pointer;
  }
</style>
