<template>
  <v-flex class="recipes-list pt-2">
    <v-container grid-list-lg>
      <v-layout row wrap>
        <RecipeCard
          v-for="recipe in recipes"
          :key="recipe._id"
          :recipe="recipe"
        ></RecipeCard>
      </v-layout>
    </v-container>
  </v-flex>
</template>

<script>
import RecipeCard from './RecipeCard'

export default {
  name: 'RecipesList',
  props: {
    recipes: {
      type: Array,
      required: false
    }
  },
  components: {
    RecipeCard
  }
}
</script>
