<template>
  <v-flex>
    <v-card hover class="recipe-card" @click.native="goToRecipe(recipe._id)">
      <v-card-media height="200px" :src="recipe.picture"></v-card-media>
      <v-card-title>{{ recipe.name }} </v-card-title>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  name: 'RecipesList',
  props: {
    recipe: {
      type: Object,
      required: true
    }
  },
  methods: {
    goToRecipe: function (id) {
      this.$router.push({
        name: 'Recipe',
        params: {
          id: id
        }
      })
    }
  }
}
</script>

<style scoped>
  .recipe-card {
    min-width: 300px;
  }
</style>
