<template>
  <v-text-field
    flat
    single-line
    hide-details
    placeholder="Search recipe by name or ingredients"
    append-icon="search"
    v-model="searchString"
    class="search-textfield"
  ></v-text-field>
</template>

<script>
export default {
  name: 'SearchBar',
  computed: {
    searchString: {
      get: function () {
        return this.$store.getters['recipes/getSearchString']
      },
      set: function (value) {
        this.$store.dispatch('recipes/setSearchString', { searchString: value })
      }
    }
  }
}
</script>

<style scoped>
  .search-textfield {
    max-width: 700px;
    margin: 0 auto;
  }
</style>
