<template>
  <div id="app">
    <v-app dark>
      <v-content>
        <Header></Header>
        <router-view></router-view>
        <Footer></Footer>
      </v-content>
    </v-app>
  </div>
</template>

<script>
import Header from './components/Header'
import Footer from './components/Footer'

export default {
  name: 'App',
  components: { Header, Footer }
}
</script>

<style>
#app {
  font-family: 'Roboto', 'Avenir', Helvetica, Arial, sans-serif;
}
</style>
